@model BSE_Pro4.Models.Cart

@{
    ViewBag.Title = "Delete";
}

<h2>Kasowanie pozycji z koszyka</h2>

<h3>Czy jesteś pewny?</h3>
<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa pozycji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductItem.Name)
        </dd>

        <dt>
            Ilość sztuk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
