@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Witaj na Molku!</h1>
    <p class="lead">Chciałbys coś poczytać? Nie ma sprawy! Dobrze trafiłeś! Już dzisiaj zapoznaj się z naszą super ofertą, z ekstra zniżkami.</p>
    <p><a href="/UserProducts" class="btn btn-primary btn-lg">Lista pozycji &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hawajska jest najlepsza</h2>
        <p>
            Już dzisiaj sprawdźcie nową pozycję Tomka Schabika! Tylko do końca czerwca w promocji -50%!
        </p>
        <p><a class="btn btn-default" href="/UserProducts/Details/1">Więcej informacji &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Koszyk to podstawa</h2>
        <p>Nasz jest bardzo piekny - już go odwiedziłeś?</p>
        <p><a class="btn btn-default" href="/userCarts">Odwiedź koszyk &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zerknij na facebooka</h2>
        <p>Co prawda my go nie mamy, ale może znajdziesz tam coś ciekawego?</p>
        <p><a class="btn btn-default" href="http://facebook.com">FB &raquo;</a></p>
    </div>
</div>